body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 8px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: steelblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}