body {
font-family: Arial;
background: #f2f2f2;
text-align: center;
}
input, select, button {
margin: 8px;
padding: 8px;
width: 80%;
}
button {
background: green;
color: white;
border: none;
}